extends ../pug/page
include ../pug/button

block vars

block pageTitle

block pageStyle
  title CasePecker

block mainContent
  // hero banner
  #top.spacer
  .position-relative
    #hero-banner.d-flex
      img.w-100.object-fit-cover(src=cms.homepage.heroBanner)
    #hero-banner-overlay.max-view
      .col-12.col-md-5
        h1.text-primary.fw-bold !{cms.homepage.heroBannerHeadline}
        p !{cms.homepage.heroBannerText}
        +button({
          class: 'btn-primary mt-5',
          text: cms.global.startButtonText
        })

  // how to work
  .spacer
  #how-to-work.container-fluid.px-lg-5.max-view
    h2.fw-semibold.text-center.my-5 #{cms.homepage.section[0].title}
    .row.g-3.g-lg-5
      each card in cms.homepage.section[0].card
        .col-12.col-md-4
          .card
            .card-body.d-flex.flex-column.text-center.p-4
              h5.card-title.text-primary !{card.title}
              i.my-5.bi.text-light(class=`bi-${card.icon}`)
              p.card-text !{card.text}

  // about
  #about.spacer
  .container-fluid.px-0
    h2.fw-semibold.text-center.my-5 #{cms.homepage.section[1].title}
    .bg-primary-subtle
      .max-view.px-3.px-lg-5.px-5(style='padding-top:6rem;padding-bottom:6rem;')
        .row.g-3
          .col-12.col-lg-4.order-last
            .fs-3.fw-semibold.col-lg-10.col-xl-8 #{cms.homepage.section[1].subtitle}
            p.mt-4 #{cms.homepage.section[1].text}
            +button({
              class: 'btn-primary mt-5',
              text: cms.global.startButtonText
            })
          .col-2.m-0
          .col-12.col-lg-6.order-first
            .w-100
              img.rounded(src=cms.homepage.section[1].image).w-100.object-fit-cover

  // our products
  #products.spacer
  .container-fluid.px-lg-5.max-view
    h2.fw-semibold.text-center.my-5 #{cms.homepage.section[2].title}
    .row.mt-3.g-3
      .nav.flex-column.col-12.col-lg-4.order-last.order-lg-first#v-pills-tab(role='tablist' aria-orientation='vertical')
        each product, index in cms.homepage.section[2].product
          div(class=`${index < cms.homepage.section[2].product.length-1 ? 'mb-5' : ''}`)
            a.fs-4.p-0.d-inline.nav-link(id=`v-pills-tab-${index}` class=`${index == 0 ? 'active' : ''}` href data-bs-toggle='pill' data-bs-target=`#v-pills-${index}` role='tab' aria-controls=`v-pills-${index}` aria-selected='true') #{product.title}
            p.mt-3 #{product.text}
      .col-2.m-0
      .tab-content.col-12.col-lg-6.order-first.order-lg-last#v-pills-tabContent
        each product, index in cms.homepage.section[2].product
          .tab-pane.fade(id=`v-pills-${index}` class=`${index == 0 ? 'show active' : ''}` role='tabpanel' aria-labelledby=`v-pills-tab-${index}` tabindex='0')
            .row.g-3.g-lg-5
              each image, index in product.image
                div(class=`${index < product.image.length-1 ? 'col-6' : 'col-12'}`)
                  img.rounded(src=image).w-100.object-fit-cover
                          
  // contact
  #contact.spacer
  .container-fluid.px-lg-5.mb-5
    h2.fw-semibold.text-center.my-5 #{cms.homepage.section[3].title}
      br
      .mt-2.fs-6.text-light.fw-normal.lh-base.mx-auto(style='max-width:640px')
        | #{cms.homepage.section[3].subtitle}
    // contact us form
    form.row.g-5.mx-auto.mb-5(style='max-width:800px')
      .col-md-6
        label.form-label(for='inputYourName') #{cms.homepage.section[3].field.name}
        input.form-control.form-control-lg#inputYourName(type='text')
      .col-md-6
        label.form-label(for='inputEmail') #{cms.homepage.section[3].field.email}
        input.form-control.form-control-lg#inputEmail(type='email')
      .col-12
        label.form-label(for='inputSubject') #{cms.homepage.section[3].field.subject}
        input.form-control.form-control-lg#inputSubject(type='text')
      .col-12
        label.form-label(for='inputMessage') #{cms.homepage.section[3].field.message}
        textarea.form-control#inputMessage(rows='6')
      .col-12
        +button({
          tag: 'button',
          type: 'submit',
          class: 'btn-primary',
          text: cms.global.submitButtonText
        })

  //- service banner
  .spacer
  .container-fluid.mb-5.px-0
    include ../pug/serviceBanner

  include ../pug/goTop

block pageJS
  // custom script
  script.
    window.addEventListener('scroll', ()=>{
      let goTopEl = document.getElementById('go-top');
      window.scrollY < 300
        ? goTopEl.classList.add('d-none')
        : goTopEl.classList.remove('d-none');
    });