mixin carousel(option)
  if (option.design == 1)
    - var design = 'carousel-autoplay'
  if (option.design == 2)
    - var design = 'slides-per-view'

  // carousel autoplay demo
  .swiper(id=`${option.id ? option.id : ''}` class=`${option.isFullWidth ? 'fluid' : null} ${design}`)
    .swiper-wrapper
      if (option.design == 1)
        each i in [0, 1, 2]
          .swiper-slide
            img(src=Global.banner[i] alt='...')
      if (option.design == 2)
        each i in [0,1,2,3,4,5,6]
          .swiper-slide
            img(src=Global.product[i] alt='...' title=i)
    if option.isCircleProgress
      .autoplay-progress
        svg(viewBox='0 0 48 48')
          circle(cx='24' cy='24' r='20' pathlength='100')
        span
    else
      .swiper-pagination