// footer
.container-fluid.mt-auto.px-0.border-top
  .max-view.p-5
    footer.row.g-5
      .col-12.col-md-5
        include logo
        //- p.text-light.mt-5 !{cms.global.footer.text}
        .d-flex.mt-4
          a.me-5.link-light.link-underline-opacity-0(href)
            i.bi.bi-envelope
          a.me-5.link-light.link-underline-opacity-0(href)
            i.bi.bi-instagram
          a.me-5.link-light.link-underline-opacity-0(href)
            i.bi.bi-whatsapp
          a.me-5.link-light.link-underline-opacity-0(href)
            i.bi.bi-facebook
      each column in cms.global.footer.column
        .col-12.col-md-3
          p.text-light #{column.title}
          ul.d-flex.flex-column.p-0.m-0.list-unstyled
            each item in column.item
              li.mt-4
                a.link-secondary.link-underline-opacity-0(href=item.link) #{item.text}
.container-fluid.mt-auto.px-0.border-top
  .max-view.p-3.px-lg-5
    .col.text-light !{cms.global.footer.copyright}