//- design
  1: rounded and large size
  2: design 1 with cancel icon
mixin input(option)
  style.
    .input-group-icon {
      position: relative;
    }
    .input-group-icon > input {
      padding-right: 2.5rem;
    }
    .input-group-icon .icon-container {
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      position: absolute;
    }
    .input-group-icon .icon-container [class*=icon-] {
      padding-right: 1rem;
    }
  .mb-4
    if (option.label)
      label.form-label(for='exampleFormControlInput1') #{option.label}
    case (option.design)
      when 1
        input.form-control.form-control-lg.rounded-pill#exampleFormControlInput1(type='text' placeholder=option.placeholder)
      when 2
        .input-group-icon
          input.form-control.form-control-lg.rounded-pill(type='text' placeholder=option.placeholder aria-label=option.label aria-describedby='')
          .icon-container
            a.icon-cancel.icon-size-md.text-decoration-none(href='#')
      default
        input.form-control#exampleFormControlInput1(type='text' placeholder=option.placeholder)