h3.section-title.mb-4 #{dict.contactPerson[currentLang]}
// email
.row.mb-3
  .mb-md-0.mb-3.col-12.col-md-6.field-container
    .position-relative
      label.input-label(for='email') #{dict.email[currentLang]}<span class="text-red">*</span>
      input#email.form-control.form-control-lg.rounded-pill(name='email' type='email' placeholder='' required autocomplete="off")
    .invalid-feedback.mt-3 #{dict.errEmail[currentLang]}
  .col-12.col-md-6.field-container
    .position-relative
      label.input-label(for='confirm-email') #{dict.confirmEmail[currentLang]}<span class="text-red">*</span>
      input#confirm-email.form-control.form-control-lg.rounded-pill(name='confirmEmail' type='email' placeholder='' required autocomplete="off")
    .invalid-feedback.mt-3 #{dict.errConfirmEmail[currentLang]}

// contact number
.field-container
  .col-xs-12.mb-3.position-relative
    label.input-label(for='contact-number') #{dict.contactNumber[currentLang]}<span class="text-red">*</span>
    input.form-control.form-control-lg.rounded-pill.guest-text-input#contact-number(name='contactNumber' type='number' value='' required autocomplete="off")
  .invalid-feedback.mb-3 #{dict.errContactNumber[currentLang]}

// health declaration
.col-xs-12.my-4.field-container
  .custom-control.custom-checkbox
    input.custom-control-input#health-declaration(name='healthDeclaration' type='checkbox' required)
    label.custom-control-label(for='health-declaration') !{dict.healthDeclarationLine1[currentLang]}
  .invalid-feedback.my-3 #{dict.errHealthDeclaration[currentLang]}
.col-xs-12.block-space
  div !{dict.healthDeclaration[currentLang]}

hr.my-4

// optin
h3.section-title.mb-4 #{dict.optinTitle[currentLang]}
.col-xs-12.mb-3
  | !{dict.optinDesc[currentLang]}
.col-xs-12.block-space
  .custom-control.custom-checkbox
    input.custom-control-input#opt-in(name='optin' type='checkbox')
    label.custom-control-label(for='opt-in').
      !{dict.optinCheckbox[currentLang]}
//- select
.field-container.select-field.col-xs-12.mb-3.position-relative.mb-3
  i.icon.nav-arrow-right
  label.input-label.invisible(for='birth-month') #{dict.birthMonth[currentLang]}
  select#birth-month.form-control.rounded-pill(name='birthMonth')
    option(value='' selected) #{dict.birthMonth[currentLang]}
    option(value='Jan') #{dict.month[currentLang][0]}
    option(value='Feb') #{dict.month[currentLang][1]}
    option(value='Mar') #{dict.month[currentLang][2]}
    option(value='Apr') #{dict.month[currentLang][3]}
    option(value='May') #{dict.month[currentLang][4]}
    option(value='Jun') #{dict.month[currentLang][5]}
    option(value='Jul') #{dict.month[currentLang][6]}
    option(value='Aug') #{dict.month[currentLang][7]}
    option(value='Sep') #{dict.month[currentLang][8]}
    option(value='Oct') #{dict.month[currentLang][9]}
    option(value='Nov') #{dict.month[currentLang][10]}
    option(value='Dec') #{dict.month[currentLang][11]}

.field-container.select-field.col-xs-12.mb-3.position-relative.block-space
  i.icon.nav-arrow-right
  label.input-label.invisible(for='life-stage') #{dict.lifeStage[currentLang]}
  select#life-stage.form-control.rounded-pill(name='lifeStage')
    option(value='' selected) #{dict.lifeStage[currentLang]}
    option(value='0-5') #{dict.lifeStageOpt1[currentLang]}
    option(value='6-11') #{dict.lifeStageOpt2[currentLang]}
    option(value='12-18') #{dict.lifeStageOpt3[currentLang]}
    option(value='19-34') #{dict.lifeStageOpt4[currentLang]}
    option(value='35-64') #{dict.lifeStageOpt5[currentLang]}
    option(value='65+') #{dict.lifeStageOpt6[currentLang]}