h3.section-title.mb-4 #{dict.contactPerson[currentLang]}
// email
.row.mb-3
  .mb-md-0.mb-3.col-12.col-md-6.field-container
    .position-relative
      label.input-label(for='email') #{dict.email[currentLang]}<span class="text-red">*</span>
      input#email.form-control.form-control-lg.rounded-pill(name='email' type='email' placeholder='' required autocomplete="off")
    .invalid-feedback.mt-3 #{dict.errEmail[currentLang]}
  .col-12.col-md-6.field-container
    .position-relative
      label.input-label(for='confirm-email') #{dict.confirmEmail[currentLang]}<span class="text-red">*</span>
      input#confirm-email.form-control.form-control-lg.rounded-pill(name='confirmEmail' type='email' placeholder='' required autocomplete="off")
    .invalid-feedback.mt-3 #{dict.errConfirmEmail[currentLang]}

// contact number
.field-container
  .col-xs-12.mb-3.position-relative
    label.input-label(for='contact-number') #{dict.contactNumber[currentLang]}<span class="text-red">*</span>
    input.form-control.form-control-lg.rounded-pill.guest-text-input#contact-number(name='contactNumber' type='number' value='' required autocomplete="off")
  .invalid-feedback.mb-3 #{dict.errContactNumber[currentLang]}

// health declaration
.col-xs-12.my-4.field-container
  .custom-control.custom-checkbox
    input.custom-control-input#health-declaration(name='healthDeclaration' type='checkbox' required)
    label.custom-control-label(for='health-declaration') !{dict.healthDeclarationLine1[currentLang]}
  .invalid-feedback.my-3 #{dict.errHealthDeclaration[currentLang]}
.col-xs-12.block-space
  div !{dict.healthDeclaration[currentLang]}

hr.my-4

// optin
h3.section-title.mb-4 #{dict.optinTitle[currentLang]}
.col-xs-12.mb-3
  | !{dict.optinDesc[currentLang]}
.col-xs-12
  .custom-control.custom-checkbox
    input.custom-control-input#opt-in(name='optin' type='checkbox')
    label.custom-control-label(for='opt-in').
      !{dict.optinCheckbox[currentLang]}