//- include ticketScanner.pug
#form-step2.form-layer.hidden
  // language switch for tablet and desktop
  include langSwitch

  // mobile header
  include mobileHeader

  // step 2 form
  .form-step
    include artworks

    // form title
    if (ticketType == 0)
      h1.form-title.block-space.text-blue
        span !{dict.datedTicketsHolders[currentLang]}
        span !{dict.modifyYourReservation[currentLang]}
    if (ticketType == 1)
      h1.form-title.block-space
        span !{dict.openDatedTicketsHolders[currentLang]}
        span !{dict.modifyYourReservation[currentLang]}
    if (ticketType == 2)
      h1.form-title.block-space
        span !{dict.passHolders[currentLang]}
        span !{dict.modifyYourReservation[currentLang]}

    // alert message
    .alert-message.block-space
      p
        i.icon.exclamation
        | !{dict.importantNotice1[currentLang]}
      p
        i.icon.exclamation
        | !{dict.importantNotice2[currentLang]}
    hr.block-space

    // number of guests
    .d-flex.justify-content-between.mb-3
      h3.section-title #{dict.numberOfGuest[currentLang]}
      h3.section-title.text-cyan
        span#guest-num-value.mr-2 1
        | #{dict.guest[currentLang]}
    #range-container
      #range-fill(value='1')
      ul.list-unstyled.position-absolute
        li &middot;
        li &middot;
        li &middot;
        li &middot;
        li &middot;
        li &middot;
        li &middot;
        li &middot;
      input#guest-num.custom-range(name='guestNum' type='range' min='1' max='8' value='4')
    ul.list-unstyled.block-space.mt-2.ml-1
      li 1
      li 2
      li 3
      li 4
      li 5
      li 6
      li 7
      li 8

    hr.block-space

    include calendar
    // guest info
    include guestInput
    // contact info
    include contactInput
    // page navigation row
    .row.align-items-center.mt-5
      .col
        a.step-btn.text-dark(href="#form-step1")
          img.icon.mr-2(src='../../img/btnBack.png')
          | #{dict.changeTicketType[currentLang]}
      .col-5.text-right
        a#step2-submit.step-btn.btn.btn-primary.rounded-pill(href="#form-step3" type='button') #{dict.submit[currentLang]}
          img.icon(src='../../img/btnArrow.png')
    
    #check-error.row.d-none.mt-4
      .col.text-center.text-red #{dict.pleaseCheckError[currentLang]}

    include footer