- Global.currentStep = 3;

#form-step3.form-layer.hidden
  // language
  include langSwitch

  // mobile header
  include mobileHeader

  // step 3 form
  .form-step.d-flex.flex-column
    include artworks

    h1.block-space.text-blue !{dict.headShuttleBusService[currentLang]}
    h5.block-space !{dict.tncLine1[currentLang]}
    // alert message
    .alert-message
      p
        i.icon.exclamation
        | !{dict.importantNotice1[currentLang]}
      p
        i.icon.exclamation
        | !{dict.importantNotice2[currentLang]}

    hr.block-space.w-100

    .mb-5
      #shuttle-bus-service(time-slot='am' require-service='yes')
        // require service switch
        .row.align-items-center.mb-4
          .col-4.pr-0
            h3.section-title.mb-0 #{dict.availableTimeslots[currentLang]}
          .col-8.d-flex.align-items-center.pl-0
            label#shuttle-bus-service-label.text-right.flex-grow-1.mb-0.mr-2(for='shuttle-bus-input' require-service='no') <span>#{dict.shuttleBusService[currentLang]}</span><span>#{dict.shuttleBusServiceNotRequired[currentLang]}</span>
            .custom-control.custom-switch
              input.custom-control-input#shuttle-bus-input(name='shuttleBusService' type='checkbox' checked)
              label.custom-control-label(for='shuttle-bus-input')
        // time slots
        #time-slots-container
          #time-slots-heading
            a#time-slots-prev(href='')
              i.icon.nav-arrow-left
            h5#heading-am #{dict.morning[currentLang]}
            h5#heading-pm #{dict.afternoon[currentLang]}
            a#times-slots-next(href='')
              i.icon.nav-arrow-right
          #time-slots-am.time-slots
            p.d-none.mx-auto #{dict.noAvailableTimeslots[currentLang]}
          #time-slots-pm.time-slots
            p.d-none.mx-auto #{dict.noAvailableTimeslots[currentLang]}
        #time-slots-legend.text-right.mt-2
          span.mr-4
            small.mr-1 ●
            | #{dict.available[currentLang]}
          span.mr-3
            small.mr-1.font-weight-bold —
            | #{dict.full[currentLang]}
      .invalid-feedback.mt-2 #{dict.errShuttleBusService[currentLang]}
      input#shuttle-bus-timeslot(name='shuttleBusTimeSlot' type='hidden' value='')

    hr.block-space.w-100
    
    // mtcaptcha
    #captcha.mt-auto
      .mtcaptcha
      p.text-red #{dict.errCaptcha[currentLang]}
      input(name='verifiedToken' type='hidden' value='')

    // page navigation row
    .row.align-items-center.mt-5
      .col-7.pr-0
        a.text-dark.step-btn(href="#form-step2")
          img.icon.mr-2(src='../../img/btnBack.png')
          | #{dict.editYourInformation[currentLang]}
      .col-5.text-right.pl-0
        a#form-submit.btn.btn-primary.rounded-pill(href='' type='button') #{dict.submit[currentLang]}
          img.icon(src='../../img/btnArrow.png')
    include footer