//- this is content template for: thank you page and modify reservation page
- Global.currentStep = 4;

block vars

body
  main.container-fluid
    .row
      // steps
      include steps
      section#form.col-xs-12
        // step 4 - Thank You
        #form-step4.form-layer.active

          if (Global.mode == 'modify')
            // language switch for tablet and desktop
            include langSwitch

          // mobile header
          include mobileHeader

          .form-step
            include artworks

            block Headline

            block Message

            h3#email.text-orange.section-title.block-space abc@mirumagency.com
            hr.block-space

            .w-100.block-space.position-relative
              #qr-code-layer
                #qr-bg
                  img.w-100.img-fluid(src='../../img/sampleQR.png')
              #qr-text-layer
                .text-large.font-weight-bold
                  | !{dict.reservationNumber[currentLang]}
                  br
                  #reservation-number 12345654
                div
                  | #{dict.antiResalePolicy[currentLang]} 
              img#qr-hcard.img-fluid(src='../../img/hcard.png')
              img#qr-pcard.img-fluid(src='../../img/pcard.png')


            table#result-info.table.block-space
              tbody
                tr
                  td
                    | #{dict.dateOfVisit[currentLang]}
                    br
                    small #{dict.dateFormat[currentLang]}
                  td
                    | 15/08/2021
                tr
                  td
                    | #{dict.numberOfGuest[currentLang]}
                  td
                    | 2 Guests
                tr
                  td
                    | #{dict.ticketNoGuestName[currentLang][ticketType]}
                  td
                    | Dated Ticket Holder
                    br
                    | 1234 5678 4554 4565 6785
                    br
                    | Tester 1
                tr
                  td
                    | #{dict.contactNumber[currentLang]}
                  td
                    | 1234 5678
                tr
                  td
                    | #{dict.shuttleBusTimeslot[currentLang]}
                  td
                    | 08:00 AM

            p !{dict.thankYouReminder[currentLang]}

            block ButtonsRow

            include footer

  block Modal