#form-step1.form-layer.active
  
  // language switch for tablet and desktop
  include langSwitch

  // mobile header
  include mobileHeader

  // step 1 form
  .form-step
    include artworks
    h1.text-blue.block-space !{dict.onlineReservation[currentLang]}
    .text-large.font-weight-bold.block-space !{dict.step1Subtitle[currentLang]}
    // ticket type
    include ticketTypeSwitch
    hr.block-space
    .text-large.font-weight-bold.block-space !{dict.tncLine1[currentLang]}

    .col-xs-12 !{dict.tnc[currentLang]}

    .text-center.mt-5
      a#agree-tnc.step-btn.btn.btn-lg.btn-primary.rounded-pill(href="#form-step2" type='button') #{dict.iUnderstand[currentLang]}
        img.icon(src='../../img/btnArrow.png')
  
    include footer
  
  #fading-bg
  