#ticket-type-container.block-space
  .btn-group.rounded-pill(role='group' aria-label='ticket type' active=ticketType)
    a.btn.rounded-pill.p-0(href=`../../DatedTicketsHolders/${currentLang}/index.html`)
      span !{dict.btnDatedTicketsHolders[currentLang]}
    a.btn.rounded-pill.p-0(href=`../../OpenDatedTicketsHolders/${currentLang}/index.html`)
      span !{dict.btnOpenDatedTicketsHolders[currentLang]}
    a.btn.rounded-pill.p-0(href=`../../PassHolders/${currentLang}/index.html`)
      span !{dict.btnPassHolders[currentLang]}