//- form.needs-validation(name='guestForm' novalidate)
script#guest-input-template(type='text/template')
  .guest-input-group.d-none
    hr.my-4
    .col-xs-12.mb-3
      .d-flex.justify-content-between.align-items-center.mb-4
        h3.mb-0 #{dict.registered[currentLang]} <span class="text-primary">#{dict.guest[currentLang]}</span>
        small
          a(href) #{dict.remove[currentLang]}
      .position-relative
        label.input-label(for='guest_Index-name') #{dict.guestName[currentLang]}
        input.form-control.form-control-lg.rounded-pill.guest-text-input#guest_Index-name(name='guest_IndexName' type='text' value='')
      small#guest_Index-name-help-text.form-text.text-muted.mt-3.
        Your password must be 8-20 characters long
      .valid-feedback Looks good!
    .col-xs-12.mb-3
      .position-relative
        label.input-label(for='guest_Index-ticket') #{dict.ticketBarcodeNumber[currentLang]}
        input.form-control.form-control-lg.rounded-pill.guest-text-input#guest_Index-ticket(name='guest_IndexTicket' type='text' value='')
      small.d-block.mt-3
        a(href) Buy Tickets?
      //- 
        small#guest_Index-ticket-help-text.form-text.text-muted.
          Your password must be 8-20 characters long
        .valid-feedback Looks good!

// guest input sets
#fieldsets

#verify-guest-container.col-xs-12.my-4.text-center.position-relative
  hr
  a.btn.btn-primary.rounded-pill.position-relative(href="#") #{dict.verify[currentLang]}