#ticket-type-container.block-space
  .btn-group.rounded-pill(role='group' aria-label='ticket type' active=ticketType)
    a.btn.rounded-pill(href=`../../DatedTicketHolders/${currentLang}/index.pug`)
      span !{dict.datedTicketsHolders[currentLang]}
    a.btn.rounded-pill(href=`../../OpenDatedTicketHolders/${currentLang}/index.pug`)
      span !{dict.openDatedTicketsHolders[currentLang]}
    a.btn.rounded-pill.d-flex.justify-content-center.align-items-center
      span !{dict.passHolders[currentLang]}