#ticket-type-container.block-space
  .btn-group.rounded-pill(role='group' aria-label='ticket type' active=ticketType)
    a.btn.rounded-pill.p-0(href=`../../DatedTicketHolders/${currentLang}/index.pug`)
      span !{dict.datedTicketsHolders[currentLang]}
    //- a.btn.rounded-pill.p-0(href=`../../OpenDatedTicketHolders/${currentLang}/index.pug`)
    a.btn.rounded-pill.p-0(href='')
      span !{dict.openDatedTicketsHolders[currentLang]}
    a.btn.rounded-pill.p-0.d-flex.justify-content-center.align-items-center(href='')
      span !{dict.passHolders[currentLang]}